# Configuration de la base de données distante
DB_HOST=db5018638455.hosting-data.io
DB_USER=dbu586833
DB_PASSWORD=St3ph3n$on75018!
DB_NAME=gestion_visites_entreprise
DB_PORT=3306

# Configuration du serveur
PORT=3000
NODE_ENV=development

# Configuration JWT
JWT_SECRET=your-secret-key-here

# Configuration de session
SESSION_SECRET=your-session-secret-here
